body {
    text-align: center;
}

.styling {
    font-size: 23px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
}

#status {
    font-size: 18px;
}

.s_a{
    margin: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 5px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: grey;
}